/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  font-family: "Outfit";
}
.card {
  width: 350px;
  height: 570px;
  background-color: hsl(216, 50%, 16%);
  margin: auto 0;
  border-radius: 12px;
  box-shadow: 0px 10px 10px 20px hsla(215, 44%, 8%, 0.386);
}

.card-img {
  padding: 7%;
  width: 86%;
  border-radius: 30px;
}
.card-body {
  padding: 0 20px 20px;
}
.card-name {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  padding-bottom: 20px;
}
.card-paragraph {
  color: hsl(215, 51%, 70%);
  padding-bottom: 20px;
}
.card-item {
  display: flex;
  justify-content: left;
  width: 100%;
  color: hsl(215, 51%, 70%);
}
.card-item .right,
.left {
  display: flex;
  align-items: center;
}
.right {
  margin-left: auto;
}
.left {
  color: hsl(178, 100%, 50%);
}
.card-icon-text {
  padding-left: 5px;
}
.line {
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin: 20px 0 10px;
}
.card-footer {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}
.ava {
  width: 30px;
}
.ava-img {
  width: 100%;
  border: 1px solid white;
  border-radius: 50%;
}
.author-info {
  margin-left: 10px;
}
.bold {
  font-weight: 600;
  color: hsl(215, 81%, 85%);
}
